/* ===== MOBILE FIRST ===== */

body{
    margin:0;
    background:#f5f7fb;
    font-family:'Poppins',sans-serif;
    padding:10px;
}

.container{
    max-width:500px;
    margin:auto;
    background:#fff;
    border-radius:18px;
    padding:15px;
    box-shadow:0 3px 15px rgba(0,0,0,.08);
}

/* HEADER */

.header{
    text-align:center;
    margin-bottom:15px;
}

.header i{
    font-size:32px;
    color:#16a34a;
    margin-bottom:8px;
}

.header h2{
    font-size:18px;
    color:#1e293b;
    margin:0;
}

/* FORM */

.form-group{
    margin-bottom:12px;
}

label{
    display:block;
    font-size:13px;
    font-weight:600;
    margin-bottom:5px;
    color:#334155;
}

.input-box{
    position:relative;
}

.input-box i{
    position:absolute;
    left:14px;
    top:50%;
    transform:translateY(-50%);
    color:#94a3b8;
}

.input-box input{
    width:100%;
    height:48px;
    border:1px solid #dbe2ea;
    border-radius:12px;
    padding-left:42px;
    font-size:14px;
    outline:none;
}

.input-box input:focus{
    border-color:#3b82f6;
}

/* HASIL */

.hasil{
    margin:15px 0;
    padding:15px;
    border-radius:14px;
    text-align:center;
    background:#ecfdf5;
    border:1px solid #bbf7d0;
}
#preview{
    width:100%;
    display:block;
    object-fit:contain;
    border-radius:12px;
}

#video{
    width:100%;
    display:block;
    object-fit:cover;
    border-radius:12px;
}
.hasil small{
    display:block;
    color:#64748b;
    font-size:12px;
}

.hasil span{
    display:block;
    font-size:28px;
    font-weight:700;
    color:#16a34a;
}

/* GPS */

.btn-gps{
    width:100%;
    height:48px;
    border:none;
    border-radius:12px;
    background:#2563eb;
    color:#fff;
    font-weight:600;
    margin-bottom:10px;
}

/* AKSI */

.button-group{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:8px;
}

.button-group button{
    height:60px;
    border:none;
    border-radius:14px;
    color:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:4px;
    font-size:10px;
    font-weight:600;
}

.button-group i{
    font-size:18px;
}

/* WARNA */

.camera{
    background:#475569;
}

.capture{
    background:#16a34a;
}

.wa{
    background:#25D366;
}

.reset{
    background:#ef4444;
}

/* MEDIA */

#video,
.preview{
    width:100%;
    margin-top:12px;
    border-radius:14px;
}

#lokasi{
    margin-top:10px;
    padding:10px;
    border-radius:10px;
    background:#f8fafc;
    font-size:12px;
    color:#475569;
    word-break:break-word;
}
